@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-body: #f2e8cf;
    --color-heading: #6a994e;
    --color-navbar: #386641;
    --color-footer: #bc4749;
    --color-text: #a7c957;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --font-base: "Bai Jamjuree";
    --font-base2: "Roboto";
    --font-size-strong: 18px;
    --font-size-regular: 16px;
    --font-weigth-strong: 600;


    /* --color-body : #cdc6a5;
    --color-heading : #696d7d;
    --color-navbar: #6f9283;
    --color-footer: #8d9f87;
    --color-text: #f0dcca;
    --font-base : "Bai Jamjuree";
    --font-base2: "Roboto";
    */
}


body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-base), sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-heading);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-heading);
}


/* NAVBAR */

.navbar {
    background-color: var(--color-navbar);
    transition: top 0.3s; /* Smooth transition effect */
}

.navbar-brand {
    color: var(--color-brand);
    font-size: 30px;
    font-weight: 700;
}

.navbar-brand img {
    width: 40px;
}

.navbar-nav li {
    font-size: 18px;
    font-weight: 500;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover {
    color: var(--color-text)
}






/* Dropdown-menu */

.dropdown-menu {
    background-color: #fff;
}

.dropdown-menu li a img {
    width: 100px;
}

.dropdown-menu li a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
}

.dropdown-menu li a:hover {
    background-color: #f2e8cf;
    color: var(--color-heading);
}



/* Hero */

/* Wrapper for video and content */
.video-background {
    position: relative;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

/* Video styling */
#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    /* Puts the video behind the content */
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* Ensures video covers entire area */
    background-size: cover;
}

/* Slight grey color above the video */
.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    /* Puts the color behind the video */
}


/* Content styling */
.video-background .content {
    position: relative;
    z-index: 1;
    /* Keeps content on top of the video */
    color: white;
    /* text-align: center; */
}

/* Put the content in the center of video playback  vertically*/
.video-background .content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Make the content to take the full width of screen */
.video-background .content {
    width: 100%;
}

.video-background .content h1 {
    color: white;
    font-size: 3rem;
    margin-top: 0;
}

.video-background .content p {
    font-size: 1.5rem;
}


@media only screen and (max-width: 768px) {
    .video-background .content {
        text-align: center;
    }

    .video-background .content h1 {
        font-size: 1.5rem;
    }

    .video-background .content p {
        font-size: 0.5rem;
    }

}



/* How to Book through Rhino */

#how {
    background-color: #fff;
}

#downloadVideo {
    height: 500px;
    width: auto;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    #downloadVideo {
        height: 380px;
        width: auto;
    }
}

.contain {
    background-color: #fff;
}

.icon {
    font-size: 48px;
    /* margin-top: 5px; */
    color: var(--color-heading);
}

.cd {
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    width: 100%;
    height: auto;
}

.cd:hover {
    background-color: #f2e8cf;
}

.cds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cd-heading {
    width: 100%;
    padding: 30px 0;
}

.cd-heading h1 {
    padding: 0;
    color: #000;
}

/* Styling image to be responsive and to take the whole  width and height of the container */
.image-container {
    position: relative;
    /* Required for absolute positioning of the image */
    overflow: hidden;
    /* Ensures the image won't overflow the container */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container */
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    /* Zoom the image slightly (10% larger) */
}


@media only screen and (max-width: 992px) {
    .image-container {
        display: none;
    }


    .cds {
        width: 40%;
    }

    .contain-video {
        width: 60%;
    }

    @media only screen and (max-width: 768px) {
        .contain-video {
            width: 100%;
            margin-bottom: 50px;
        }

        .cds {
            width: 100%;
            padding: 0;
        }

        .cd-heading {
            display: none;
        }

        .cd-scroll-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            /* Prevent wrapping */
            overflow-x: auto;
            /* Enable horizontal scroll */
            gap: 10px;
            /* Add space between items */
            scroll-snap-type: x mandatory;
            /* Snap scrolling to items */
            -ms-overflow-style: none;
            /* Hide scrollbar in IE and Edge */
            /* cursor: grab;
            Changes cursor to indicate dragging is possible */

        }

        /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
        .cd-scroll-container::-webkit-scrollbar {
            display: none;
        }

        /* Add this style when dragging starts */
        /* .cd-scroll-container.active {
            cursor: grabbing;
            
        } */

        .cd {
            flex: 0 0 auto;
            /* Prevent shrinking, allow growing */
            min-width: 250px;
            /* Set a minimum width for each block */
            margin-right: 15px;
            border-radius: 10px;
            padding: 10px;
            height: auto;
            /* background-color: #f2f2f2;
            transition: background-color 0.3s; */
            scroll-snap-align: start;
            /* Snap alignment */
            width: 80vw;
            /* Each CD takes 80% of the viewport width */
            scroll-behavior: smooth;
        }

        .cd-icon {
            width: 100%;
            display: flex;
            padding-right: 85%;
        }

    }
}



/* Models */

.carousel-inner h5 {
    color: #eee;
    font-size: 24px;
    font-weight: 700;
    /* move this content to top */
    /* position: absolute;
    top: 80%;
    left: 0%;
    z-index: 1; */
    margin-bottom: 0%;
}

.carousel-inner p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

#models {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    background-color: var(--color-body);
    width: 600px;
    height: 600px;
    align-items: center;
}



.carouselExampleCaptions button{
    color: #000;
}


body {
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    .counter {
        width: 200px;
    }
}